# ANS 1

In [13]:
# for loop is used when we know in advance how many times we want to execute the loop.

# example of a for loop to prints the first 10 integers

In [14]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# while loop is typically used when we don't know in advance how many times we want to execute the loop.

In [16]:
# example of a while loop that reads input from the user until they enter the string "quit":
user_input = ''
while user_input != 'x':
    user_input = input("Enter a value ('x' to exit): ")
    print("You entered: ", user_input)

Enter a value ('x' to exit): 4
You entered:  4
Enter a value ('x' to exit): 5
You entered:  5
Enter a value ('x' to exit): x
You entered:  x

# ANS 2

In [17]:
# Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

sums = 0
prod = 1
for i in range(1,11):
    sums += i
    prod *= i
print('sum = ',sums)
print('product = ',prod)

sum =  55
product =  3628800

In [18]:
sums = 0
prod = 1
i = 1
while(i<11):
    sums += i
    prod *= i
    i = i+1
print('sum = ',sums)
print('product = ',prod)

sum =  55
product =  3628800

# ANS 3

In [19]:
'''
Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
'''


units = int(input("Enter electricity consumed in units: "))
bill_amt = 0

if(units<100):
    bill_amt = units*4.5
elif(units>=100 and units<200):
    bill_amt = 450 + (units-100)*6
elif(units>=200 and units<300):
    bill_amt = 1050 + (units-200)*10
elif(units<0):
    print('invalid input')
else:
    bill_amt = 2050 + (units-300)*20
    
print("You Bill Amount to pay : ",bill_amt)

Enter electricity consumed in units: 310
You Bill Amount to pay :  2250

# ANS 4

In [20]:
'''
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.
'''

l1 = [i for i in range(1,101)]

In [21]:
l2 = []
for i in l1:
    l2.append(i**3)

In [22]:
l3 = []
for j in l2:
    if j%4==0 or j%5==0:
        l3.append(j)

In [23]:
print(list(l3))

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [27]:
list2 = []
i = 0
while(i<100):
    list2.append(l1[i]**3)
#     print(l1[i])
    i+=1

In [28]:
print(list(list2))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [30]:
list3 = []
j = 0
while(j<100):
    if list2[j]%4==0 or list2[j]%5==0:
        list3.append(list2[j])
    j += 1

In [31]:
print(list(list3))

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

# ANS 5

In [ ]:
'''
Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"
'''

string = "I want to become a data scientist"
count = 0
for i in string.lower():
    if i=="a" or i=='e' or i=='i' or i=='o' or i=='u':
        count += 1
#         print(i)
        
print(count)